/********************* Global Layout ***********************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: #f2f2f2;
}


.main-header,
.footer {
    background: #f2f2f2;
}

.header-info {
    margin: 40px;
}

.header-info img {
    width: 80%;
}

.header-info p {
    padding: 15px auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.navigation ul {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation li {
    background: #FFF;
    margin: 5px 30px 8px 30px;
    padding: 0;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 1.5em;
}

.figures img,
.figures p {
    width: 90%;
    margin: 40px 10px;
    padding: 10px 15px;
}

.figures p {
    margin: 40px 10px 50px 10px;
}

.figures figcaption {
    font-weight: bold;
}

#contact {
    margin: 60px 30px;
    background: #ffd699;
    width: 90%;
}

#contact h2 {
    margin: 80px 30px 60px 30px;
    padding: 40px;
}

#contact p {
    margin: 60px 30px;
    padding: 20px;
}

.clear-fix {
    clear: both;
    display: table;
    content: "";
}

@media (min-width: 760px) {
    body,
    .main-header {
        background: white;
    }
    
    .main-header {
        margin-bottom: 150px;
    }
    .main-header h2 {
        margin: 20px 40px;
        float: left;
    }
    
    .navigation {
        padding-bottom: 150px;
    }

   
    .main-header li {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }
    .figures {
        margin: 20px auto;
        width: 50%;
        float: left;
    }
    
  
    .header-info div {
        width: 50%;
        float: right;
    }
    
     .header-info div p {
       font-size: 2em;
       text-align: left;
    }
}