    /********************* Global Layout ***********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/*
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;     
    background: gray;
}
*/


/*********************Navigation Layout ***********************/

.main-header,
.main-footer-mobile,
.main-footer-desktop {
    background: lightgray;
}

.main-header {
    padding-top: 40px;
}

.navigation ul {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.navigation li,
.navigation a {
    background: white;
    margin: 8px auto;
}

.navigation li {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
.header-info {
    margin: 20px auto;
}
*/

.header-info img {
    width: 65%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.header-info p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5em;
}


/*********************Portfolio Layout ***********************/


/*
.navigation li {
    background: #FFF;
    margin: 5px 30px 8px 30px;
    padding: 0;
    text-align: center;
}
*/

#portfolio h2,
#portfolio div,
#portfolio p {
    background-color: white;
}

#portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
}

#portfolio h2 {
    padding-bottom: 20px;
}

.figures img,
.figures p {
    width: 80%;
    padding: 10px 20px;
}

.figures p {
    margin: auto auto 20px auto;
}

.figures figcaption {
    font-weight: bold;
}

#contact {
    background: #ffd699;
    width: 100%;
}

#contact h2 {
    /*    margin: 80px 30px 60px 30px;*/
    padding: 30px;
}

#contact p {
    /*    margin: 60px 30px;*/
    padding: 15px;
}

.clear-fix {
    clear: both;
    display: table;
    content: "";
}

.main-footer-desktop {
    display: none;
}

.main-footer-mobile {
    width: 100%;
    /*    margin: 20px auto;*/
    padding: 30px 10px 40px 10px;
}

.main-footer-mobile h2 {
    float: left;
    font-size: 1em;
}

.main-footer-mobile a {
    text-decoration: none;
    color: black;
    float: right;
}


/****************Tablet settings***************************/

@media (min-width: 760px) {
    .main-header {
        margin-bottom: 50px;
    }
    .main-header h2 {
        margin: 20px auto;
    }
    .navigation {
        padding-bottom: 40px;
    }
    .navigation li,
    .navigation a {
        background: lightgray;
        margin: 8px auto;
    }
    .main-header li {
        display: inline-block;
        padding: 15px;
    }
    
     .header-info div:nth-child(1) {
            width: 40%;
            float: right;
        }
    
     .header-info div:nth-child(2) {
            width: 60%;
            float: right;
        }
    .header-info p {
        padding-top: 10px;
    }
    
    .header-info img {
        width: 95%;
    }
    .figures {
        margin: 20px auto;
        width: 50%;
        float: left;
    }
    .header-info div {
        width: 50%;
        float: right;
    }
    .header-info div p {
        /*       font-size: 1em;*/
        text-align: left;
    }
    .main-footer-mobile {
        display: none;
    }
    .main-footer-desktop {
        display: block;
    }
}
    /****************Desktop with mininum width of 1024 pixels***************************/
    @media (min-width: 1024px) {
        /*
    body,
    .main-header {
        background: white;
    }
    
*/
        .main-header {
            margin-bottom: 150px;
        }
        .main-header h2 {
            margin: 20px auto;
            float: left;
        }
        .navigation {
            padding-bottom: 150px;
        }
        .main-header li {
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            padding: 15px;
        }
        .figures {
            margin: 20px auto;
            width: 50%;
            float: left;
        }
        .header-info div {
            width: 50%;
            float: right;
        }
        .header-info div p {
            font-size: 2em;
            text-align: left;
        }
        .main-footer-mobile {
            display: none;
        }
        .main-footer-desktop {
            display: block;
        }
    }